@{
    ViewData["Title"] = "Home Page";
}

<!-- Search Form -->

<section class="mbr-section form3 cid-rTcVga2lJ0" id="form3-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h2 class="align-center pb-2 mbr-fonts-style display-2">Put some dog breed</h2>
                <h3 class="mbr-section-subtitle align-center pb-5 mbr-light mbr-fonts-style display-5">
                    and click on search button</h3>
            </div>
        </div>

        <div class="row py-2 justify-content-center">
            <div class="col-12 col-lg-6  col-md-8 " data-form-type="formoid">
                <!---Formbuilder Form--->
                <form  method="POST" class="mbr-form form-with-styler" data-form-title="Dog Breed Form">
                    <div class="dragArea row">
                        <div class="form-group col" data-for="breed">
                            <input type="text" name="breed" placeholder="Breed" data-form-field="Brees" required="required" class="form-control display-7" id="email-form3-3">
                        </div>
                        <div class="col-auto input-group-btn"><button type="submit" class="btn btn-primary display-4">SEARCH</button></div>
                    </div>
                </form><!---Formbuilder Form--->
            </div>
        </div>
    </div>
</section>
<!-- FIM Search Form -->

<!-- Cards  -->

<!-- Card 1 -->

<section class="mbr-gallery mbr-slider-carousel cid-rTcVGRSoGO" id="gallery1-12">
    <div class="container">
        <div><!-- Filter --><!-- Gallery --><div class="mbr-gallery-row">
            <div class="mbr-gallery-layout-default">
                <div>
                    <div>
                        <div class="mbr-gallery-item mbr-gallery-item--p1" data-video-url="false" data-tags="Awesome" style="justify-content: center;">
                            <div>
                                <img src="images/fundo.jpg" alt="" width="100%" title="">
                                <span class="icon-focus"></span>
                                <span class="mbr-gallery-title mbr-fonts-style display-7">Description</span>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="clearfix">
            </div>
        </div>
        
    </div>

</section>

<!-- Fim Card 1 -->

<!-- Card 2 -->

<section class="features2 cid-rTcX318IQL" id="features2-7">
    <div class="container">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/background1.jpg" alt="Picture">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            Title
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Description
                        </p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

<!-- Fim Card 2 -->

<!-- Not Found 1 -->

<section class="cid-rTcVXs7DPv" id="social-buttons1-5">
    <div class="container">
        <div class="media-container-row">
            <div class="col-md-8 align-center">
                <h2 class="pb-3 mbr-section-title mbr-fonts-style display-2">
                    SORRY! THE BREED NO FOUND
                </h2>
            </div>
        </div>
    </div>
</section>


<!-- Fim Not Found 1 -->

<!-- Not Found 2 -->

<section class="cid-rTcVZG6rcD" id="social-buttons3-6">
    <div class="container">
        <div class="media-container-row">
            <div class="col-md-8 align-center">
                <h2 class="pb-3 mbr-section-title mbr-fonts-style display-2">
                    SORRY! THE BREED NO FOUND
                </h2>
            </div>
        </div>
    </div>
</section>


<!-- Fim Not Found 2 -->